<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="jie" name="author">
  <title>DDNS-GO</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="/js/jquery-3.0.0.slim.min.js"></script>
  <link href="/css/common.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a class="navbar-brand d-flex align-items-center" href="https://github.com/jeessy2/ddns-go" target="blank">
          <svg aria-hidden="true" class="mr-2" fill="none" focusable="false" height="20"
            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
            width="20" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
            <circle cx="12" cy="13" r="4" />
          </svg>
          <strong>DDNS-GO</strong>
        </a>
      </div>
    </div>
  </header>

  <main role="main" style="margin-top: 15px; overflow: hidden;">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form>

          <button class="btn btn-primary submit_btn" style="margin-bottom: 15px;">Save</button>

          <div class="alert alert-success" style="display: none;">
            <strong id="resultMsg">保存成功</strong>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">DNS服务商</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline col-form-label">
                    <input $.DNS.Name class="form-check-input" eq id="alidns" name="DnsName" onclick="alidnsCheckedFun()" type="radio" value="alidns" {{if "alidns"}}checked{{end}}>
                    <label class="form-check-label" for="alidns">
                      Alidns(阿里云)
                    </label>
                  </div>
                  <div class="form-check form-check-inline col-form-label">
                    <input $.DNS.Name class="form-check-input" eq id="dnspod" name="DnsName" onclick="dnspodCheckedFun()" type="radio" value="dnspod" {{if "dnspod"}}checked{{end}}>
                    <label class="form-check-label" for="dnspod">
                      Dnspod(腾讯云)
                    </label>
                  </div>
                  <div class="form-check form-check-inline col-form-label">
                    <input $.DNS.Name class="form-check-input" eq id="cloudflare" name="DnsName" onclick="cloudflareCheckedFun()" type="radio" value="cloudflare" {{if "cloudflare"}}checked{{end}}>
                    <label class="form-check-label" for="cloudflare">
                      Cloudflare
                    </label>
                  </div>
                  <div class="form-check form-check-inline col-form-label">
                    <input $.DNS.Name class="form-check-input" eq id="huaweicloud" name="DnsName" onclick="huaweicloudCheckedFun()" type="radio" value="huaweicloud" {{if "huaweicloud"}}checked{{end}}>
                    <label class="form-check-label" for="huaweicloud">
                      华为云
                    </label>
                  </div>
                  <small class="form-text text-muted" id="dns_help"></small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="DnsID" id="dnsIdLabel">ID</label>
                <div class="col-sm-10">
                  <input class="form-control" id="DnsID" name="DnsID" value="{{.DNS.ID}}">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="DnsSecret" id="dnsSecretLabel">Secret</label>
                <div class="col-sm-10">
                  <input class="form-control" id="DnsSecret" name="DnsSecret" value="{{.DNS.Secret}}">
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">IPv4</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label class="col-sm-2" for="ipv4_enable">是否启用</label>
                <div class="col-sm-10">
                  <input $.Ipv4.Enable class="form-check-inline" eq id="ipv4_enable" name="Ipv4Enable" style="margin-top: 5px;" true}}checked{{end}} type="checkbox" {{if>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="ipv4_url">获取IP方式</label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input .Ipv4.GetType class="form-check-input" id="urlRadioIpv4" name="Ipv4GetType" ne type="radio" value="url" {{if "netInterface"}}checked{{end}} onclick="urlClick('ipv4')">
                    <label class="form-check-label" for="urlRadioIpv4">通过接口获取</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input .Ipv4.GetType class="form-check-input" eq id="netInterfaceRadioIpv4" name="Ipv4GetType" type="radio" value="netInterface" {{if "netInterface"}}checked{{end}} onclick="netInterfaceClick('ipv4')">
                    <label class="form-check-label" for="netInterfaceRadioIpv4">通过网卡获取</label>
                  </div>
                  <input aria-describedby="ipv4_url_help" class="form-control" id="ipv4_url" name="Ipv4Url" type="url" value="{{.Ipv4.URL}}">
                  <select class="form-control" id="ipv4_netInterface_select" name="Ipv4NetInterface"></select>
                  <small class="form-text text-muted" id="ipv4_url_help"></small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="ipv4_domains">Domains</label>
                <div class="col-sm-10">
                  <textarea aria-describedby="ipv4_domains_help" class="form-control" id="ipv4_domains" name="Ipv4Domains" rows="3">
{{- range $i, $v := .Ipv4.Domains}}
{{$v}}
{{- end -}}
                  </textarea>
                  <small class="form-text text-muted" id="ipv4_domains_help">一行一个域名</small>
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">IPv6</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label class="col-sm-2" for="ipv6_enable">是否启用</label>
                <div class="col-sm-10">
                  <input $.Ipv6.Enable class="form-check-inline" eq id="ipv6_enable" name="Ipv6Enable" style="margin-top: 5px;" true}}checked{{end}} type="checkbox" {{if>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="ipv6_url">获取IP方式</label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input .Ipv6.GetType class="form-check-input" id="urlRadioIpv6" name="Ipv6GetType" ne type="radio" value="url" {{if "netInterface"}}checked{{end}} onclick="urlClick('ipv6')">
                    <label class="form-check-label" for="urlRadioIpv6">通过接口获取</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input .Ipv6.GetType class="form-check-input" eq id="netInterfaceRadioIpv6" name="Ipv6GetType" type="radio" value="netInterface" {{if "netInterface"}}checked{{end}} onclick="netInterfaceClick('ipv6')">
                    <label class="form-check-label" for="netInterfaceRadioIpv6">通过网卡获取</label>
                  </div>
                  <input aria-describedby="ipv6_url_help" class="form-control" id="ipv6_url" name="Ipv6Url" type="url" value="{{.Ipv6.URL}}">
                  <select class="form-control" id="ipv6_netInterface_select" name="Ipv6NetInterface"></select>
                  <small class="form-text text-muted" id="ipv6_url_help"></small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="ipv6_domains">Domains</label>
                <div class="col-sm-10">
                  <textarea aria-describedby="ipv6_domains_help" class="form-control" id="ipv6_domains" name="Ipv6Domains" rows="3">
{{- range $i, $v := .Ipv6.Domains}}
{{$v}}
{{- end -}}
                  </textarea>
                  <small class="form-text text-muted" id="ipv6_domains_help">一行一个域名</small>
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">其它配置</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="NotAllowWanAccess">禁止公网访问</label>
                <div class="col-sm-10">
                  <input $.NotAllowWanAccess class="form-check-inline" eq id="NotAllowWanAccess" name="NotAllowWanAccess" style="margin-top: 5px;" true}}checked{{end}} type="checkbox" {{if>
                  <small class="form-text text-muted" id="NotAllowWanAccess_help">可禁止从公网访问, 勾选后只能通过局域网IP访问</small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Username">登录用户名</label>
                <div class="col-sm-10">
                  <input aria-describedby="Username_help" class="form-control" id="Username" name="Username" value="{{.Username}}">
                  <small class="form-text text-muted" id="Username_help">为保护你的信息安全, 建议输入</small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="Password">登录密码</label>
                <div class="col-sm-10">
                  <input aria-describedby="password_help" class="form-control" id="Password" name="Password" type="password" value="{{.Password}}">
                  <small class="form-text text-muted" id="password_help">为保护你的信息安全, 建议输入</small>
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">Webhook</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="WebhookURL">URL</label>
                <div class="col-sm-10">
                  <input aria-describedby="WebhookURL_help" class="form-control" id="WebhookURL" name="WebhookURL" value="{{.WebhookURL}}">
                  <small class="form-text text-muted" id="WebhookURL_help">
                    <a href="https://github.com/jeessy2/ddns-go#webhook" target="blank">点击参考官方Webhook说明</a><br/>
                    支持的变量#{ipv4Addr}, #{ipv4Result}, #{ipv4Domains}, #{ipv6Addr}, #{ipv6Result}, #{ipv6Domains}
                  </small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="WebhookRequestBody">RequestBody</label>
                <div class="col-sm-10">
                  <textarea aria-describedby="WebhookRequestBody_help" class="form-control" id="WebhookRequestBody" name="WebhookRequestBody" rows="3">
{{- .WebhookRequestBody -}}
                  </textarea>
                  <small class="form-text text-muted" id="WebhookRequestBody_help">
                    RequestBody为空GET请求，不为空POST请求。支持的变量同上
                  </small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button aria-describedby="webhookTestBtn_help" class="btn btn-primary btn-sm" id="webhookTestBtn">模拟测试Webhook</button>
                  <small class="form-text text-muted" id="webhookTestBtn_help"></small>
                </div>
              </div>

            </div>
          </div>

          <button class="btn btn-primary submit_btn" style="margin-bottom: 15px;">Save</button>

        </form>
      </div>
      <div class="col-md-3">
        <p class="font-weight-light text-break" id="logs" style="margin-top: 115px;font-size: 13px;"></p>
      </div>
    </div>
  </main>

  <script>
    $(function(){
      $(".submit_btn").on('click',function(e) {
        e.preventDefault();
        $('body').animate({ scrollTop: 0 }, 300);
        $.ajax({
          method: "POST",
          url: "/save",
          data: $('form').serialize(),
          success: function (result) {
            $('.alert').css("display", "block");
            if (result !== "ok") {
              $('.alert').addClass("alert-danger")
              $('#resultMsg').html(result)
            } else {
              // ok
              setTimeout(function(){
                $('.alert').css("display", "none");
              }, 3000)
            }
          },
          error: function(jqXHR) {
            alert(jqXHR.statusText);
          }
        })
      })

    })

    var beforeDnsID=""

    function alidnsCheckedFun() {
      document.getElementById("DnsID").disabled= false
      if (beforeDnsID)
        document.getElementById("DnsID").value= beforeDnsID

      document.getElementById("dnsIdLabel").innerHTML = "AccessKey ID"
      document.getElementById("dnsSecretLabel").innerHTML = "AccessKey Secret"
      document.getElementById("dns_help").innerHTML = "<a target='_blank' href='https://ram.console.aliyun.com/manage/ak?spm=5176.12818093.nav-right.dak.488716d0mHaMgg'>创建 AccessKey</a>"
    }

    function dnspodCheckedFun() {
      document.getElementById("DnsID").disabled= false
      if (beforeDnsID)
        document.getElementById("DnsID").value= beforeDnsID

      document.getElementById("dnsIdLabel").innerHTML = "ID"
      document.getElementById("dnsSecretLabel").innerHTML = "Token"
      document.getElementById("dns_help").innerHTML = "<a target='_blank' href='https://console.dnspod.cn/account/token'>创建密钥</a>"
    }

    function cloudflareCheckedFun() {
      document.getElementById("dnsIdLabel").innerHTML = ""
      beforeDnsID = document.getElementById("DnsID").value
      document.getElementById("DnsID").disabled= true
      document.getElementById("DnsID").value= ""
      document.getElementById("dnsSecretLabel").innerHTML = "Token"
      document.getElementById("dns_help").innerHTML = "<a target='_blank' href='https://dash.cloudflare.com/profile/api-tokens'>创建令牌->编辑区域 DNS(使用模板)</a>"
    }

    function huaweicloudCheckedFun() {
      document.getElementById("DnsID").disabled= false
      if (beforeDnsID)
        document.getElementById("DnsID").value= beforeDnsID

      document.getElementById("dnsIdLabel").innerHTML = "Access Key Id"
      document.getElementById("dnsSecretLabel").innerHTML = "Secret Access Key"
      document.getElementById("dns_help").innerHTML = "<a target='_blank' href='https://console.huaweicloud.com/iam/?locale=zh-cn#/mine/accessKey'>新增访问密钥</a>"
    }

    var dnsName = '{{$.DNS.Name}}'

    switch(dnsName){
      case "dnspod": {
        dnspodCheckedFun()
        break;
      }
      case "cloudflare": {
        cloudflareCheckedFun()
        break;
      }
      case "huaweicloud": {
        huaweicloudCheckedFun()
        break;
      }
      default: {
        alidnsCheckedFun()
        break;
      }
    }
  </script>

<script>
  function getLogs() {
    $.get("/logs", function(result){
      $("#logs").html(result)
    })
  }
  getLogs()
  setInterval(getLogs, 5 * 1000)
</script>

<script>
  var ipv4GetType = '{{$.Ipv4.GetType}}'
  var ipv6GetType = '{{$.Ipv6.GetType}}'
  if (ipv4GetType === "netInterface") {
    netInterfaceClick("ipv4")
  } else {
    urlClick("ipv4")
  }

  if (ipv6GetType === "netInterface") {
    netInterfaceClick("ipv6")
  } else {
    urlClick("ipv6")
  }

  // 点击接口获取
  function urlClick(label) {
    $("#"+label+"_netInterface_select").css("display", "none")
    $("#"+label+"_url").css("display", "block")

    if (label === "ipv4") {
      $("#ipv4_url_help").html("填写的URL需返回公网IPv4地址。如：https://api-ipv4.ip.sb/ip、https://myip.ipip.net、https://ddns.oray.com/checkip")
    } else {
      $("#ipv6_url_help").html("填写的URL需返回公网IPv6地址。如：https://api-ipv6.ip.sb/ip、https://v6.myip.la/json、https://speed.neu6.edu.cn/getIP.php")
    }
  }

  // 点击网卡获取
  function netInterfaceClick(label) {
    $("#"+label+"_url").css("display", "none")
    $("#"+label+"_netInterface_select").css("display", "block")
    if (label === "ipv4") {
      $("#ipv4_url_help").html("通过网卡获取IP, 建议在多宽带的路由器中使用")
    } else {
      $("#ipv6_url_help").html("通过网卡获取IP, 默认使用第一个IPv6地址(一般为非临时的IPv6)")
    }

    $.get("/"+label+"NetInterface", function(result) {
      $("#"+label+"_netInterface_select").empty()
      if(result) {
        var resultJson = JSON.parse(result)
        for (var i=0; i<resultJson.length; i++) {
          $("#"+label+"_netInterface_select").append(
            `<option value='${resultJson[i].Name}'>
            ${resultJson[i].Name}(${resultJson[i].Address[0]})
            </option>`
          );
        }
        // 选中
        if ("{{$.Ipv4.NetInterface}}" !== "") {
          $("#"+label+"_netInterface_select").val("{{$.Ipv4.NetInterface}}")
        }
      } else {
        $("#"+label+"_url_help").html("<span style='color: red'>没有找到可用的网卡</span>")
      }
    })
  }
</script>
<script>
  $(function(){
    $("#webhookTestBtn").on("click", function(e) {
      e.preventDefault();
      $.ajax({
          method: "POST",
          url: "/webhookTest",
          data: {"URL": $("#WebhookURL").val(), "RequestBody": $("#WebhookRequestBody").val()},
          success: function() {
            $("#webhookTestBtn_help").text("提交模拟测试成功, 如修改记得保存配置")
            setTimeout(function(){
              $("#webhookTestBtn_help").text("")
            }, 5000)
          },
          error: function(jqXHR) {
            alert(jqXHR.statusText);
          }
        })
    })
  })
</script>
</html>
